@import "tailwindcss";

:root {
  --background: #2F2F2F;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-sage: #BCC4A7;
  --color-jet: #2F2F2F;
  --color-van-dyke: #503B31;
  --color-wenge: #705D56;
  --color-pure-white: #FFFFFF;
  --color-deep-black: #000000;
  --color-gray-medium: #6B7280;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
