@import "tailwindcss";

@theme {
  --color-primary: #705D56;
  --color-dark: #2F2F2F;
  --color-sage: #BCC4A7;
  --color-jet: #2F2F2F;
  --color-van-dyke: #503B31;
  --color-wenge: #705D56;
  --color-pure-white: #FFFFFF;
  --color-deep-black: #000000;
  --color-gray-medium: #6B7280;
}

:root {
  --background: #2F2F2F;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
